.e08ygjo4 {
  align-content: start;
  font-family: Metropolis;
  height: 100%;
}

.e063xnay {
  grid-auto-flow: column;
  height: 117px;
  justify-content: start;
}

.e00d78ey {
  align-content: start;
  height: 77px;
  margin-left: 125px;
  margin-top: 32px;
  width: 111px;
}

.e0im3977 {
  align-content: start;
}

.e0nay1ni {
  align-content: start;
  height: 117px;
  width: 1444px;
}

.e0nnhvp9 {
  align-content: start;
  margin-left: 1060px;
  margin-top: 42px;
}

.e0lf3u3c {
  align-content: start;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  width: 384px;
}

.e0f1tpnq {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  margin-left: 315px;
  margin-top: -33px;
  width: 78px;
}

.e0dokfsq {
  height: 37px;
  width: 1444px;
}

.e0gbwdeg {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 92px;
  margin-left: 1319px;
  margin-top: -92px;
  width: 225px;
  border-radius: 56px;
}

.e0vbb5mg {
  height: 117px;
  width: 100px;
}

.e0g5nwit {
  align-content: start;
  background-image: linear-gradient(rgb(246, 246, 246) 0%, rgb(246, 246, 246) 100%);
  height: 957px;
  margin-top: 3px;
  width: 1920px;
}

.e05bg0e3 {
  align-content: start;
  font-size: 139px;
  font-weight: 700;
  margin-left: 426px;
  margin-top: 161px;
  width: 973px;
}

.e0nv94vy {
  align-content: start;
  font-size: 48px;
  font-weight: 700;
  height: 81px;
  margin-left: 309px;
  margin-top: 32px;
  text-align: center;
  width: 1160px;
}

.e0fdp8vm {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 92px;
  margin-left: 769px;
  margin-top: 49px;
  width: 304px;
  border-radius: 56px;
}

.e0bxzcbl {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  height: 37px;
  margin-left: 40px;
  margin-top: 20px;
  width: 226px;
}

.e00zlmyl {
  align-content: start;
  background-image: linear-gradient(rgb(230, 128, 26) 0%, rgb(230, 128, 26) 100%);
  height: 110px;
  margin-top: 267px;
  width: 1920px;
}

.e0pne15i {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 67px;
  margin-left: 1617px;
  margin-top: 22px;
  width: 163px;
  border-radius: 56px;
}

.e0o6aky5 {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 22px;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 13px;
  width: 44px;
}
