.e0n260w6 {
  align-content: start;
  font-family: Metropolis;
  height: 100%;
}

.e0hjzt45 {
  grid-auto-flow: column;
  height: 117px;
  justify-content: start;
}

.e02mklia {
  align-content: start;
  height: 77px;
  margin-left: 2px;
  margin-top: 3px;
  width: 111px;
}

.e0t8qet2 {
  align-content: start;
  width: 892px;
}

.e01949fh {
  align-content: start;
  height: 117px;
  width: 710px;
}

.e02jl18z {
  align-content: start;
  margin-left: 1060px;
  margin-top: 42px;
}

.e0kwn36o {
  align-content: start;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  width: 384px;
}

.e0cn0tv3 {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  margin-right: 200px;
  margin-top: -33px;
  width:100%;
  
}

.e063kxsr {
  height: 37px;
  width: 1444px;
}

.e09p4mqn {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 92px;
  margin-left: 1319px;
  margin-top: -92px;
  width: 225px;
  border-radius: 56px;
}

.e01n2sff {
  height: 117px;
  width: 100px;
}

.e0kxg3ag {
  align-content: start;
  background-image: linear-gradient(rgb(246, 246, 246) 0%, rgb(246, 246, 246) 100%);
  height: 956px;
  margin-top: 4px;
  width: 1920px;
}

.e09tsc7w {
  align-content: start;
  font-size: 139px;
  font-weight: 700;
  margin-left: 426px;
  margin-top: 161px;
  width: 1059px;
}

.e0wn5u1n {
  align-content: start;
  font-size: 48px;
  font-weight: 700;
  margin-left: 417px;
  margin-top: 32px;
  text-align: center;
  width: 1023px;
}

.e0ps62nl {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 92px;
  margin-left: 780px;
  margin-top: 46px;
  width: 323px;
  border-radius: 56px;
}

.e0odq6na {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  height: 47px;
  margin-left: 40px;
  margin-top: 20px;
  width: 244px;
}

.e0zyq6bu {
  align-content: start;
  background-image: linear-gradient(rgb(230, 128, 26) 0%, rgb(230, 128, 26) 100%);
  height: 140px;
  margin-top: 205px;
  width: 1918px;
}

.e0tvkvz2 {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 67px;
  margin-left: 1617px;
  margin-top: 22px;
  width: 163px;
  border-radius: 56px;
}

.e04x03kb {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 22px;
  font-weight: 700;
  margin-left: 1px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
