.e0ytnmkg {
  align-content: start;
  font-family: Metropolis;
  height: 100%;
  width: 1923px;
}

.e0gsfnyl {
  grid-auto-flow: column;
  height: 117px;
  justify-content: start;
  width: 614px;
}

.e0siajd3 {
  align-content: start;
  height: 77px;
  margin-left: 125px;
  margin-top: 32px;
  width: 111px;
}

.e0pq50uw {
  align-content: start;
}

.e01f214l {
  align-content: start;
  height: 117px;
  width: 1243px;
}

.e0rdoth7 {
  align-content: start;
  margin-left: 1060px;
  margin-top: 42px;
}

.e0h06gtx {
  align-content: start;
  font-size: 32px;
  font-weight: 500;
  height: 132px;
  text-align: center;
  width: 422px;
}

.e0eay9kn {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  margin-left: 315px;
  margin-top: -33px;
  width: 78px;
}

.e0wj0nk0 {
  height: 28px;
  width: 1444px;
}

.e0yua4p6 {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  grid-template-rows: auto auto auto auto;
  height: 92px;
  margin-left: 821px;
  margin-top: -92px;
  width: 231px;
  border-radius: 56px;
}

.e0l2spe8 {
  height: 117px;
  width: 204px;
}

.e0vaquay {
  align-content: start;
  background-image: linear-gradient(rgb(246, 246, 246) 0%, rgb(246, 246, 246) 100%);
  height: 960px;
  width: 1922px;
}

.e0y4qicy {
  align-content: start;
  font-size: 139px;
  font-weight: 700;
  height: 311px;
  margin-left: 465px;
  margin-top: 7px;
  width: 994px;
}

.e017brmz {
  align-content: start;
  font-size: 48px;
  font-weight: 700;
  height: 187px;
  margin-left: 463px;
  margin-top: 4px;
  text-align: center;
  width: 1032px;
}

.e0mct5zy {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 116px;
  margin-left: 801px;
  padding-top: 20px;
  width: 311px;
  border-radius: 56px;
}

.e0xd2yr3 {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  height: 57px;
  margin-left: 40px;
  margin-top: 20px;
  width: 282px;
}

.e0yj7sfo {
  align-content: start;
  background-image: linear-gradient(rgb(230, 128, 26) 0%, rgb(230, 128, 26) 100%);
  height: 110px;
  margin-top: 224px;
  width: 1920px;
}

.e0ng9j48 {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 67px;
  margin-left: 1617px;
  margin-top: 22px;
  width: 163px;
  border-radius: 56px;
}

.e0gp5mb2 {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 22px;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 13px;
  width: 44px;
}
