.e0o7i075 {
  align-content: start;
  font-family: Metropolis;
  height: 100%;
}

.e0txb1qs {
  grid-auto-flow: column;
  height: 117px;
  justify-content: start;
}

.e0w5jknb {
  align-content: start;
  height: 77px;
  margin-left: 125px;
  margin-top: 32px;
  width: 111px;
}

.e0szulp6 {
  align-content: start;
}

.e0u9s6wi {
  align-content: start;
  height: 117px;
  width: 1444px;
}

.e09q5mcz {
  align-content: start;
  margin-left: 1060px;
  margin-top: 42px;
}

.e04gs2cb {
  align-content: start;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  width: 384px;
}

.e0o19t8z {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  margin-left: 315px;
  margin-top: -33px;
  width: 78px;
}

.e0f9c0hg {
  height: 37px;
  width: 1444px;
}

.e0slctbn {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 92px;
  margin-left: 1319px;
  margin-top: -92px;
  width: 225px;
  border-radius: 56px;
}

.e0tkh61s {
  height: 117px;
  width: 100px;
}

.e0bmjf02 {
  align-content: start;
  background-image: linear-gradient(rgb(246, 246, 246) 0%, rgb(246, 246, 246) 100%);
  height: 863px;
  margin-top: 29px;
  width: 1920px;
}

.e0u92y2x {
  align-content: start;
  font-size: 74px;
  font-weight: 700;
  margin-left: 277px;
  margin-top: 1px;
  text-align: center;
  width: 1332px;
}

.e0cpwuuo {
  grid-auto-flow: column;
  height: 348px;
  justify-content: start;
  margin-left: 104px;
  width: 1707px;
}

.e0f941lx {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 335px;
  margin-left: 101px;
  margin-top: 2px;
  width: 331px;
  border-radius: 42px;
}

.e0bh5ipb {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 36px;
  margin-top: 85px;
  width: 260px;
}

.e04gj3vq {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 307px;
  margin-left: 67px;
  margin-top: 28px;
  width: 331px;
  border-radius: 42px;
}

.e02djnlf {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 36px;
  margin-top: 85px;
  width: 260px;
}

.e0e6ksbg {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 321px;
  margin-left: 67px;
  margin-top: 20px;
  width: 331px;
  border-radius: 42px;
}

.e03w4f2t {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 36px;
  margin-top: 85px;
  width: 260px;
}

.e0yluh03 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 325px;
  margin-left: 67px;
  margin-top: 15px;
  width: 331px;
  border-radius: 42px;
}

.e0fdm5aq {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 36px;
  margin-top: 85px;
  width: 260px;
}

.e0225tgz {
  align-content: start;
  background-image: linear-gradient(rgb(232, 232, 232) 0%, rgb(232, 232, 232) 100%);
  height: 396px;
  margin-left: 173px;
  margin-top: -22px;
  width: 24px;
}

.e0f5516k {
  grid-auto-flow: column;
  height: 94px;
  justify-content: start;
  width: 1920px;
}

.e03yqvw5 {
  align-content: start;
  height: 93px;
  text-align: center;
  width: 520px;
}

.e0w0916w {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  height: 36px;
  margin-left: 198px;
  margin-top: 23px;
  width: 331px;
}

.e0b4q52l {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 198px;
  margin-top: -1px;
  width: 331px;
}

.e0jjauxy {
  align-content: start;
  height: 94px;
  text-align: center;
  width: 406px;
}

.e0dr5q9l {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 23px;
  width: 331px;
}

.e0ez80uq {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}

.e06pp4ot {
  align-content: start;
  height: 94px;
  text-align: center;
  width: 398px;
}

.e0zr2eju {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 23px;
  width: 331px;
}

.e0e9nou2 {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}

.e0orky6q {
  align-content: start;
  height: 94px;
  text-align: center;
  width: 398px;
}

.e0rllt05 {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 23px;
  width: 331px;
}

.e0z3o0x4 {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}

.e0phoji5 {
  align-content: start;
  height: 328px;
}

.e0sul5nr {
  align-content: start;
}

.e0ui5r3c {
  align-content: start;
}

.e0vvr04h {
  align-content: start;
}

.e0h6x36q {
  align-content: start;
}

.e0you917 {
  grid-auto-flow: column;
  height: 320px;
  justify-content: start;
  margin-left: 65px;
  width: 1675px;
}

.e0kszz91 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 285px;
  margin-left: 92px;
  margin-top: 2px;
  width: 331px;
  border-radius: 42px;
}

.e0iptds4 {
  align-content: start;
  filter: opacity(30%);
  height: 187px;
  margin-left: 36px;
  margin-top: 85px;
  width: 260px;
}

.e0y2ccpg {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 109px;
  margin-top: 100px;
  width: 260px;
}

.e003drki {
  align-content: start;
  filter: opacity(30%);
  height: 206px;
  margin-left: 120px;
  margin-top: 86px;
  width: 260px;
}

.e0dp9893 {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 67px;
  margin-left: 292px;
  margin-top: 322px;
  width: 163px;
  border-radius: 56px;
}

.e0tyi1tn {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 22px;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 13px;
  width: 44px;
}

.e0f5vp8r {
  height: 285px;
  width: 197px;
}

.e0baoqgg {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 232px;
  margin-left: 606px;
  margin-top: -245px;
  width: 349px;
  border-radius: 42px;
}

.e0xmpzfz {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 298px;
  margin-left: 994px;
  width: 331px;
  border-radius: 42px;
}

.e06qy0j4 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 274px;
  margin-left: 1392px;
  margin-top: 4px;
  padding-bottom: 70px;
  width: 331px;
  border-radius: 42px;
}

.e02eftup {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 1428px;
  margin-top: 60px;
  width: 260px;
}

.e0984m1a {
  align-content: start;
  background-image: linear-gradient(rgb(230, 128, 26) 0%, rgb(230, 128, 26) 100%);
  height: 110px;
  margin-top: 384px;
  width: 1920px;
}

.e0xjnrws {
  grid-auto-flow: column;
  height: 232px;
  justify-content: start;
  width: 1920px;
}

.e0eax2cz {
  align-content: start;
  height: 235px;
  margin-bottom: 16px;
  text-align: center;
  width: 529px;
}

.e07e1p1r {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 198px;
  margin-top: 156px;
  width: 331px;
}

.e0rrq7ek {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 198px;
  margin-top: -1px;
  width: 331px;
}

.e0cnr621 {
  align-content: start;
  height: 227px;
  text-align: center;
  width: 398px;
}

.e0jn0wiv {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 156px;
  width: 331px;
}

.e0cbxqe3 {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}

.e0r00f0w {
  align-content: start;
  height: 227px;
  text-align: center;
  width: 398px;
}

.e0dm62a9 {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 156px;
  width: 331px;
}

.e0nyf56q {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}

.e0s3q2ml {
  align-content: start;
  height: 136px;
  text-align: center;
  width: 398px;
}

.e0m9fjd2 {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 156px;
  width: 331px;
}

.e0g8324q {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}
