.e0gbh30u {
  align-content: start;
  font-family: Metropolis;
  height: 1078px;
}

.e00nvc92 {
  grid-auto-flow: column;
  height: 117px;
  justify-content: start;
  width: 29px;
}

.e0cb9ymm {
  align-content: start;
  height: 77px;
  margin-left: 125px;
  margin-top: 32px;
  width: 111px;
}

.e0jz3jan {
  align-content: start;
}

.e0we6jzi {
  align-content: start;
  height: 117px;
  width: 1444px;
}

.e052nbx6 {
  align-content: start;
  margin-left: 1060px;
  margin-top: 42px;
}

.e06onr8w {
  align-content: start;
  font-size: 32px;
  font-weight: 500;
  height: 95px;
  margin-left: 2px;
  text-align: center;
  width: 338px;
}

.e0rjxn2a {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  height: 49px;
  margin-left: 50px;
  margin-top: 26px;
  width: 111px;
}

.e0bo4i6x {
  height: 37px;
  width: 1444px;
}

.e07b3hsx {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 92px;
  margin-left: 1477px;
  margin-top: -92px;
  width: 225px;
  border-radius: 56px;
}

.e0lksvkv {
  height: 117px;
  width: 100px;
}

.e00yi4qb {
  align-content: start;
  width: 1743px;
}

.e0crv3qw {
  align-content: start;
  width: 1747px;
}

.e0dfj5ag {
  align-content: start;
  width: 1743px;
}

.e0p5uh57 {
  align-content: start;
  width: 1741px;
}

.e0hpcro6 {
  align-content: start;
  width: 1742px;
}

.e0tj9pz8 {
  background-image: linear-gradient(rgb(246, 246, 246) 0%, rgb(246, 246, 246) 100%);
  grid-auto-flow: column;
  height: 897px;
  justify-content: start;
  margin-right: 1px;
  width: 1738px;
}

.e0petbcj {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  height: 379px;
  margin-left: 12px;
  margin-top: 106px;
  text-align: center;
  width: 387px;
  border-radius: 42px;
}

.e0zrt2ol {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 47px;
  font-weight: 500;
  height: 78px;
  margin-left: 98px;
  margin-top: 147px;
  width: 188px;
}

.e0igefji {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  height: 366px;
  margin-left: 39px;
  margin-top: 116px;
  text-align: center;
  width: 387px;
  border-radius: 42px;
}

.e0y3o1me {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 47px;
  font-weight: 500;
  margin-left: 104px;
  margin-top: 119px;
  width: 188px;
}

.e0dpnhu2 {
  align-content: start;
}

.e0jrwj4h {
  align-content: start;
}

.e0yyif5w {
  align-content: start;
}

.e0h76mw4 {
  align-content: start;
}

.e0ca2ehy {
  align-content: start;
}

.e0tm0c1v {
  align-content: start;
}

.e0xhs1lx {
  align-content: start;
  height: 934px;
  width: 896px;
}

.e0zdmi9d {
  align-content: start;
  font-size: 74px;
  font-weight: 700;
  height: 101px;
  margin-left: -324px;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  width: 767px;
}

.e0x4wxp8 {
  grid-auto-flow: column;
  height: 447px;
  justify-content: start;
  margin-bottom: 11px;
  width: 896px;
}

.e04dqnn5 {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  height: 378px;
  margin-left: 51px;
  text-align: center;
  width: 387px;
  border-radius: 42px;
}

.e0mjtx44 {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 47px;
  font-weight: 500;
  height: 80px;
  margin-bottom: 6px;
  margin-left: 128px;
  margin-top: 147px;
  width: 123px;
}

.e0tbwov8 {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  height: 378px;
  margin-left: 61px;
  margin-right: 5px;
  text-align: center;
  width: 379px;
  border-radius: 42px;
}

.e0c55ev9 {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 47px;
  font-weight: 500;
  height: 78px;
  margin-left: 129px;
  margin-top: 136px;
  width: 165px;
}

.e09fs498 {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  height: 378px;
  margin-left: 61px;
  margin-top: -299px;
  width: 387px;
  border-radius: 42px;
}

.e0s3ubmn {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  height: 378px;
  margin-left: 509px;
  margin-top: -299px;
  width: 387px;
  border-radius: 42px;
}

.e0smkowz {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 47px;
  font-weight: 500;
  margin-left: 255px;
  margin-top: -152px;
  text-align: center;
  width: 188px;
}

.e02w5jro {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 47px;
  font-weight: 500;
  margin-left: 703px;
  margin-top: -152px;
  text-align: center;
  width: 188px;
}

.e0jggv82 {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 67px;
  margin-left: 687px;
  margin-top: -88px;
  width: 163px;
  border-radius: 56px;
}

.e0l0t3qh {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 22px;
  font-weight: 700;
  margin-left: 737px;
  margin-top: -75px;
  width: 44px;
}

.e0wkp9tt {
  align-content: start;
  background-image: linear-gradient(rgb(232, 232, 232) 0%, rgb(232, 232, 232) 100%);
  height: 396px;
  margin-left: 70px;
  margin-top: 92px;
  width: 24px;
}

.e0w54bjg {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  height: 373px;
  margin-left: 95px;
  margin-top: -299px;
  width: 387px;
  border-radius: 42px;
}

.e0e33wiv {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  height: 378px;
  margin-left: 543px;
  margin-top: -299px;
  width: 387px;
  border-radius: 42px;
}

.e0whst9z {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 47px;
  font-weight: 500;
  margin-left: 289px;
  margin-top: -152px;
  text-align: center;
  width: 188px;
}

.e00kvram {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 47px;
  font-weight: 500;
  margin-left: 737px;
  margin-top: -152px;
  text-align: center;
  width: 188px;
}

.e0wr9hih {
  align-content: start;
  background-image: linear-gradient(rgb(230, 128, 26) 0%, rgb(230, 128, 26) 100%);
  height: 23px;
  width: 1390px;
}
