.e01tlkrx {
  align-content: start;
  font-family: Metropolis;
  height: 100%;
}

.e0gso7l8 {
  grid-auto-flow: column;
  height: 117px;
  justify-content: start;
}

.e0qt7s4p {
  align-content: start;
  height: 77px;
  margin-left: 125px;
  margin-top: 32px;
  width: 111px;
}

.e0u81u80 {
  align-content: start;
}

.e0243jid {
  align-content: start;
  height: 117px;
  width: 1444px;
}

.e0t3tjxg {
  align-content: start;
  margin-left: 1060px;
  margin-top: 42px;
}

.e0zmb58n {
  align-content: start;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  width: 384px;
}

.e0uvkeyd {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  margin-left: 315px;
  margin-top: -33px;
  width: 78px;
}

.e0qm8irq {
  height: 37px;
  width: 1444px;
}

.e01pkort {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 92px;
  margin-left: 1319px;
  margin-top: -92px;
  width: 225px;
  border-radius: 56px;
}

.e0y1c2sk {
  height: 117px;
  width: 100px;
}

.e07cjk8u {
  align-content: start;
  margin-top: 29px;
}

.e0jult0i {
  align-content: start;
}

.e0luh2su {
  align-content: start;
}

.e01b2p74 {
  align-content: start;
}

.e0tv4t70 {
  align-content: start;
}

.e0e486fv {
  align-content: start;
  background-image: linear-gradient(rgb(246, 246, 246) 0%, rgb(246, 246, 246) 100%);
  height: 934px;
  width: 1920px;
}

.e0ezggec {
  align-content: start;
  font-size: 139px;
  font-weight: 700;
  margin-left: 125px;
  margin-top: 105px;
  width: 487px;
}

.e09747wn {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 84px;
  margin-left: 819px;
  margin-top: 22px;
  width: 728px;
  border-radius: 56px;
}

.e07w0rf3 {
  align-content: start;
  color: rgb(210, 210, 210);
  font-family: Roboto;
  font-size: 32px;
  height: 43px;
  margin-left: 853px;
  margin-top: -576px;
  width: 256px;
}

.e0zkl7cx {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 84px;
  margin-left: 821px;
  margin-top: 36px;
  width: 734px;
  border-radius: 56px;
}

.e0thb5wy {
  align-content: start;
  color: rgb(210, 210, 210);
  font-family: Roboto;
  font-size: 32px;
  margin-left: 50px;
  margin-top: 17px;
  width: 128px;
}

.e06risf0 {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 92px;
  margin-left: 821px;
  margin-top: 36px;
  width: 225px;
  border-radius: 56px;
}

.e06ahg0a {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  margin-left: 62px;
  margin-top: 23px;
  width: 52px;
}

.e045rj5u {
  align-content: start;
  background-image: linear-gradient(rgb(230, 128, 26) 0%, rgb(230, 128, 26) 100%);
  height: 110px;
  margin-top: 31px;
  width: 1920px;
}

.e0fn0rhv {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 67px;
  margin-left: 1617px;
  margin-top: 22px;
  width: 163px;
  border-radius: 56px;
}

.e0jyd8pt {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 22px;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 13px;
  width: 44px;
}

.e04r8reh {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 84px;
  margin-left: 821px;
  margin-top: -713px;
  width: 734px;
  border-radius: 56px;
}

.e0c4ybhb {
  align-content: start;
  color: rgb(210, 210, 210);
  font-family: Roboto;
  font-size: 32px;
  height: 67px;
  margin-left: 871px;
  margin-top: -696px;
  width: 187px;
}

.e0bm05xm {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 84px;
  margin-left: 821px;
  margin-top: -593px;
  width: 734px;
  border-radius: 56px;
}

.e02havh4 {
  align-content: start;
  color: rgb(210, 210, 210);
  font-family: Roboto;
  font-size: 32px;
  height: 43px;
  margin-left: 853px;
  margin-top: -576px;
  width: 256px;
}

.e0t3wp34 {
  align-content: start;
  font-size: 48px;
  font-weight: 700;
  margin-left: 755px;
  margin-top: -841px;
  text-align: center;
  width: 912px;
}
