.e0faco5z {
  align-content: start;
  font-family: Metropolis;
  /*height: 1064px;
  padding-top: 5px;
  width: 1926px;
  */
}

.e0z70ixc {
  grid-auto-flow: column;
  height: 117px;
  justify-content: start;
}

.e0gh3fiv {
  align-content: start;
  height: 77px;
  margin-left: 125px;
  margin-top: 32px;
  width: 111px;
}

.e0ud4i2c {
  align-content: start;
}

.e01evi9b {
  align-content: start;
  height: 113px;
  width: 1444px;
}

.e0oby1t4 {
  align-content: start;
  margin-left: 1060px;
  margin-top: 42px;
}

.e0ksmaie {
  align-content: start;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  width: 384px;
  margin-top: 28px;
}

.e0ki3i7s {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  height: 42px;
  margin-left: 315px;
  margin-top: -33px;
  width: 117px;
}

.e0hstwtu {
  height: 37px;
  width: 1444px;
}

.e0ipxwjh {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 92px;
  margin-left: 1456px;
  margin-top: -92px;
  width: 225px;
  border-radius: 56px;
}

.e07rdmjl {
  height: 117px;
  width: 100px;
}

.e0akjtmk {
  align-content: start;
  background-image: linear-gradient(rgb(246, 246, 246) 0%, rgb(246, 246, 246) 100%);
  height: 934px;
  width: 1922px;
}

.e0l020wu {
  align-content: start;
  font-size: 48px;
  font-weight: 700;
  height: 66px;
  margin-left: 665px;
  margin-top: 93px;
  text-align: center;
  width: 466px;
}

.e0eu7cxu {
  align-content: start;
  font-size: 74px;
  font-weight: 700;
  margin-left: 317px;
  margin-top: -1px;
  text-align: center;
  width: 1180px;
}

.e00lxnwo {
  grid-auto-flow: column;
  height: 449px;
  justify-content: start;
  width: 1923px;
}

.e0zyc01t {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  height: 378px;
  margin-left: 97px;
  margin-top: 47px;
  text-align: center;
  width: 387px;
  border-radius: 42px;
}

.e0bfqb5l {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 47px;
  font-weight: 500;
  margin-bottom: 39px;
  /*margin-left: 65px;*/
  margin-top: 137px;
  width: 259px;
}

.e0vcutis {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  height: 378px;
  margin-left: 61px;
  margin-top: 52px;
  text-align: center;
  width: 387px;
  border-radius: 42px;
}

.e0nor5tp {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 47px;
  font-weight: 500;
  /*margin-left: 27px;*/
  margin-top: 133px;
  width: 306px;
}

.e0resjpp {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  height: 378px;
  margin-left: 61px;
  margin-top: 52px;
  text-align: center;
  width: 387px;
  border-radius: 42px;
}

.e0nousef {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 47px;
  font-weight: 500;
  /*margin-left: 106px;*/
  margin-top: 119px;
  width: 165px;
}

.e0yxq8fe {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  height: 378px;
  margin-left: 61px;
  margin-top: 48px;
  text-align: center;
  width: 387px;
  border-radius: 42px;
}

.e0td77j9 {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 47px;
  font-weight: 500;
  /*margin-left: 112px;*/
  margin-top: 119px;
  width: 165px;
}

.e0aj4c0e {
  align-content: start;
  background-image: linear-gradient(rgb(230, 128, 26) 0%, rgb(230, 128, 26) 100%);
  height: 84px;
  margin-bottom: 9px;
  margin-top: 139px;
  padding-top: 117px;
  width: 1920px;
}

.e01yw18x {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  height: 39px;
  margin-left: 315px;
  margin-top: -33px;
  width: 114px;
}
