.e0owsfcf {
  align-content: start;
  font-family: Metropolis;
  height: 100%;
}

.e0jkxnug {
  grid-auto-flow: column;
  height: 117px;
  justify-content: start;
}

.e0ah3m14 {
  align-content: start;
  height: 77px;
  margin-left: 125px;
  margin-top: 32px;
  width: 111px;
}

.e0qzw9k2 {
  align-content: start;
}

.e0gu5hon {
  align-content: start;
  height: 117px;
  width: 1444px;
}

.e0p9dywz {
  align-content: start;
  margin-left: 1060px;
  margin-top: 42px;
}

.e05h2e0p {
  align-content: start;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  width: 384px;
}

.e0epfwzc {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  margin-left: 315px;
  margin-top: -33px;
  width: 78px;
}

.e0ppa3ue {
  height: 37px;
  width: 1444px;
}

.e0hcu1p7 {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 92px;
  margin-left: 1319px;
  margin-top: -92px;
  width: 225px;
  border-radius: 56px;
}

.e0ysc8qp {
  height: 117px;
  width: 100px;
}

.e0rc8x0y {
  background-image: linear-gradient(rgb(246, 246, 246) 0%, rgb(246, 246, 246) 100%);
  grid-auto-flow: column;
  height: 934px;
  justify-content: start;
  margin-top: 29px;
  width: 1920px;
}

.e0fquip5 {
  align-content: start;
}

.e02p5i7p {
  align-content: start;
}

.e0kd9y68 {
  align-content: start;
}

.e0ouankl {
  align-content: start;
  height: 934px;
  width: 529px;
}

.e0nmf0p8 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 198px;
  margin-top: 177px;
  width: 331px;
  border-radius: 42px;
}

.e03bclcp {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 36px;
  margin-top: 85px;
  width: 260px;
}

.e0bsjmb1 {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 198px;
  margin-top: 23px;
  text-align: center;
  width: 331px;
}

.e00tpv8y {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 198px;
  margin-top: -1px;
  text-align: center;
  width: 331px;
}

.e07zvxx7 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 198px;
  margin-top: -245px;
  width: 331px;
  border-radius: 42px;
}

.e02ru1ju {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 234px;
  margin-top: -160px;
  width: 260px;
}

.e03tt9hv {
  align-content: start;
  background-image: linear-gradient(rgb(230, 128, 26) 0%, rgb(230, 128, 26) 100%);
  height: 110px;
  margin-top: -110px;
  width: 1920px;
}

.e0dz4lqx {
  align-content: start;
}

.e07bht2f {
  align-content: start;
}

.e0veco8m {
  align-content: start;
  height: 934px;
  width: 398px;
}

.e0yvzpg8 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 67px;
  margin-top: 177px;
  width: 331px;
  border-radius: 42px;
}

.e0q2rbzo {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 36px;
  margin-top: 85px;
  width: 260px;
}

.e0p4nzle {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 23px;
  text-align: center;
  width: 331px;
}

.e0msiih0 {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  text-align: center;
  width: 331px;
}

.e064u4ml {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 67px;
  margin-top: -245px;
  width: 331px;
  border-radius: 42px;
}

.e0b4my9m {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 103px;
  margin-top: -160px;
  width: 260px;
}

.e0la5w4p {
  align-content: start;
}

.e0z19x2c {
  align-content: start;
}

.e00l1wqw {
  align-content: start;
}

.e0n730ii {
  align-content: start;
}

.e0rknj39 {
  align-content: start;
}

.e0zo8cpz {
  align-content: start;
}

.e0iwwhrj {
  align-content: start;
  height: 934px;
  width: 796px;
}

.e0k73ah5 {
  align-content: start;
  font-size: 74px;
  font-weight: 700;
  margin-left: 33px;
  margin-top: 25px;
  text-align: center;
  width: 481px;
}

.e02o7flz {
  grid-auto-flow: column;
  height: 441px;
  justify-content: start;
  width: 796px;
}

.e0cx8uac {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 67px;
  margin-top: 63px;
  width: 331px;
  border-radius: 42px;
}

.e0kuf3c0 {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 36px;
  margin-top: 85px;
  width: 260px;
}

.e0n1xc05 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 67px;
  margin-top: 63px;
  width: 331px;
  border-radius: 42px;
}

.e06ptczd {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 36px;
  margin-top: 85px;
  width: 260px;
}

.e0j6c408 {
  grid-auto-flow: column;
  height: 94px;
  justify-content: start;
  width: 796px;
}

.e0gv3urz {
  align-content: start;
  height: 94px;
  text-align: center;
  width: 398px;
}

.e0ga6oux {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 23px;
  width: 331px;
}

.e0oias1v {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}

.e0uh26ex {
  align-content: start;
  height: 94px;
  text-align: center;
  width: 398px;
}

.e0gd3ge5 {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 23px;
  width: 331px;
}

.e0uedy6a {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}

.e0fsnokq {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 67px;
  margin-top: -245px;
  width: 331px;
  border-radius: 42px;
}

.e0mxrbn6 {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 103px;
  margin-top: -160px;
  width: 260px;
}

.e0wejpef {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 465px;
  margin-top: -245px;
  width: 331px;
  border-radius: 42px;
}

.e0zeiwc7 {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 501px;
  margin-top: -160px;
  width: 260px;
}

.e0hs2xfn {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 67px;
  margin-left: 690px;
  margin-top: -88px;
  width: 163px;
  border-radius: 56px;
}

.e06dizy5 {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 22px;
  font-weight: 700;
  margin-left: 740px;
  margin-top: -75px;
  width: 44px;
}

.e08pmju6 {
  align-content: start;
  background-image: linear-gradient(rgb(232, 232, 232) 0%, rgb(232, 232, 232) 100%);
  height: 396px;
  margin-left: 173px;
  margin-top: 92px;
  width: 24px;
}

.e0anhnwc {
  grid-auto-flow: column;
  height: 227px;
  justify-content: start;
}

.e0ajt0wu {
  align-content: start;
  height: 227px;
  text-align: center;
  width: 529px;
}

.e0inpu9c {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 198px;
  margin-top: 156px;
  width: 331px;
}

.e0jtfpb2 {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 198px;
  margin-top: -1px;
  width: 331px;
}

.e0yv3n68 {
  align-content: start;
  height: 227px;
  text-align: center;
  width: 398px;
}

.e0g11z6b {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 156px;
  width: 331px;
}

.e0hj56mx {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}

.e0tfjhuv {
  align-content: start;
  height: 227px;
  text-align: center;
  width: 398px;
}

.e0zursj7 {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 156px;
  width: 331px;
}

.e04ts1kq {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}

.e0js8vfe {
  align-content: start;
  height: 227px;
  text-align: center;
  width: 398px;
}

.e0bztac1 {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 156px;
  width: 331px;
}

.e0e49zpd {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}
