.e0tzb8eb {
  height: 100%;
  align-content: start;
  font-family: Metropolis;
}

.e0n7wsqk {
  height: 117px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0yb01xr {
  width: 111px;
  height: 77px;
  margin-top: 32px;
  margin-left: 125px;
  align-content: start;
}

.e0c65h0d {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0ialk30 {
  width: 1444px;
  height: 117px;
  align-content: start;
}

.e0kuhn41 {
  width: NaNpx;
  height: NaNpx;
  margin-top: 42px;
  margin-left: 1060px;
  align-content: start;
}

.e0foy6df {
  width: 384px;
  align-content: start;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.e0rrel4o {
  width: 78px;
  margin-top: -33px;
  margin-left: 315px;
  align-content: start;
  font-size: 26px;
  font-weight: 700;
  color: rgb(246, 246, 246);
}

.e03mh5f0 {
  width: 1444px;
  height: 37px;
}

.e0zazhae {
  width: 225px;
  height: 92px;
  margin-top: -92px;
  margin-left: 1319px;
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  border-radius: 56px;
}

.e09os6gp {
  width: 100px;
  height: 117px;
}

.e0pz19bo {
  width: NaNpx;
  height: NaNpx;
  margin-top: 29px;
  align-content: start;
}

.e03qp5ph {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0dopeme {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0tmbfi1 {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0khc6zj {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0hkshe1 {
  width: 1920px;
  height: 934px;
  align-content: start;
  background-image: linear-gradient(rgb(246, 246, 246) 0%, rgb(246, 246, 246) 100%);
  background-blend-mode: auto;
}

.e0uy65qh {
  width: 626px;
  margin-top: 105px;
  margin-left: 125px;
  align-content: start;
  font-size: 139px;
  font-weight: 700;
}

.e0zd13d6 {
  width: NaNpx;
  font-size: 96px;
}

.e05xvksa {
  width: 1920px;
  height: 110px;
  margin-top: 385px;
  align-content: start;
  background-image: linear-gradient(rgb(230, 128, 26) 0%, rgb(230, 128, 26) 100%);
  background-blend-mode: auto;
}

.e05o0xck {
  width: 163px;
  height: 67px;
  margin-top: 22px;
  margin-left: 1617px;
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  border-radius: 56px;
}

.e02b1rku {
  width: 44px;
  margin-top: 13px;
  margin-left: 50px;
  align-content: start;
  font-size: 22px;
  font-weight: 700;
  color: rgb(246, 246, 246);
}

.e00jyf5g {
  width: 225px;
  height: 92px;
  margin-top: -624px;
  margin-left: 1184px;
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  border-radius: 56px;
}

.e0ycb4d4 {
  width: 78px;
  margin-top: -602px;
  margin-left: 1242px;
  align-content: start;
  font-size: 26px;
  font-weight: 700;
  color: rgb(246, 246, 246);
}

.e0cug8fl {
  width: 940px;
  height: 84px;
  margin-top: -738px;
  margin-left: 840px;
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  border-radius: 56px;
}

.e0vql6z9 {
  width: 384px;
  margin-top: -721px;
  margin-left: 890px;
  align-content: start;
  font-family: Roboto;
  font-size: 32px;
  color: rgb(210, 210, 210);
}

.e0406yyn {
  width: 648px;
  margin-top: -836px;
  margin-left: 1310px;
  align-content: start;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
