.e0vxx0x2 {
  align-content: start;
  font-family: Metropolis;
  height: 100%;
}

.e0iem6w8 {
  grid-auto-flow: column;
  height: 117px;
  justify-content: start;
}

.e01qjwka {
  align-content: start;
  height: 77px;
  margin-left: 125px;
  margin-top: 32px;
  width: 111px;
}

.e0vi9rn6 {
  align-content: start;
}

.e0izinmz {
  align-content: start;
  height: 117px;
  width: 1444px;
}

.e0oiqgln {
  align-content: start;
  margin-left: 1060px;
  margin-top: 42px;
}

.e00w2zha {
  align-content: start;
  font-size: 32px;
  font-weight: 500;
  height: 51px;
  text-align: center;
  width: 263px;
}

.e027w317 {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  margin-left: 315px;
  margin-top: -33px;
  width: 78px;
}

.e0cnnz7y {
  height: 37px;
  width: 1444px;
}

.e0sifpss {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 90px;
  margin-left: 1319px;
  margin-top: -92px;
  width: 182px;
  border-radius: 56px;
}

.e03xm8hz {
  height: 117px;
  width: 100px;
}

.e0k1lxn1 {
  align-content: start;
  background-image: linear-gradient(rgb(246, 246, 246) 0%, rgb(246, 246, 246) 100%);
  height: 934px;
  margin-top: 28px;
  width: 1920px;
}

.e044swmu {
  align-content: start;
  font-size: 74px;
  font-weight: 700;
  margin-left: 960px;
  margin-top: 25px;
  text-align: center;
  width: 387px;
}

.e02eoez8 {
  grid-auto-flow: column;
  height: 469px;
  justify-content: start;
  margin-left: 226px;
  padding-left: 2px;
  width: 1415px;
}

.e0vh8mw4 {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  height: 378px;
  margin-left: 339px;
  margin-top: 91px;
  text-align: center;
  width: 387px;
  border-radius: 42px;
}

.e03pzmxs {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 65px;
  font-weight: 500;
  margin-left: 105px;
  margin-top: 92px;
  width: 163px;
}

.e0tt96bb {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  height: 378px;
  margin-left: 116px;
  margin-top: 91px;
  text-align: center;
  width: 387px;
  border-radius: 42px;
}

.e0drm9b9 {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 65px;
  font-weight: 500;
  margin-left: 111px;
  margin-top: 92px;
  width: 195px;
}

.e0wpcia8 {
  align-content: start;
  background-image: linear-gradient(rgb(230, 128, 26) 0%, rgb(230, 128, 26) 100%);
  height: 110px;
  margin-top: 241px;
  width: 1920px;
}

.e08iu4fv {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 67px;
  margin-left: 1617px;
  margin-top: 22px;
  width: 163px;
  border-radius: 56px;
}

.e0898myf {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 22px;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 13px;
  width: 44px;
}
