.e0r3ur53 {
  align-content: start;
  font-family: Metropolis;
  height: 100%;
}

.e0k5vblz {
  grid-auto-flow: column;
  height: 117px;
  justify-content: start;
}

.e0ol9ihd {
  align-content: start;
  height: 77px;
  margin-left: 125px;
  margin-top: 32px;
  width: 111px;
}

.e04xanrq {
  align-content: start;
}

.e0rx58rl {
  align-content: start;
  height: 117px;
  width: 1444px;
}

.e01mfn7v {
  align-content: start;
  margin-left: 1060px;
  margin-top: 42px;
}

.e00mweyo {
  align-content: start;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  width: 384px;
}

.e0d5cx5h {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  margin-left: 315px;
  margin-top: -33px;
  width: 78px;
}

.e0q0uxhk {
  height: 37px;
  width: 1444px;
}

.e0wcoc25 {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 92px;
  margin-left: 1319px;
  margin-top: -92px;
  width: 225px;
  border-radius: 56px;
}

.e0r7epqw {
  height: 117px;
  width: 100px;
}

.e04sh9uw {
  background-image: linear-gradient(rgb(246, 246, 246) 0%, rgb(246, 246, 246) 100%);
  grid-auto-flow: column;
  height: 934px;
  justify-content: start;
  margin-top: 29px;
  width: 1920px;
}

.e0f4no40 {
  align-content: start;
}

.e0706g8v {
  align-content: start;
}

.e0sld9gz {
  align-content: start;
}

.e0qy3yyn {
  align-content: start;
  height: 934px;
  width: 529px;
}

.e0kjv26e {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 198px;
  margin-top: 177px;
  width: 331px;
  border-radius: 42px;
}

.e05bwomk {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 36px;
  margin-top: 85px;
  width: 260px;
}

.e0waxfxy {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 198px;
  margin-top: 23px;
  text-align: center;
  width: 331px;
}

.e07bjgbb {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 198px;
  margin-top: -1px;
  text-align: center;
  width: 331px;
}

.e02h7hq9 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 198px;
  margin-top: -245px;
  width: 331px;
  border-radius: 42px;
}

.e0e6a4t5 {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 234px;
  margin-top: -160px;
  width: 260px;
}

.e0irvxy6 {
  align-content: start;
  background-image: linear-gradient(rgb(230, 128, 26) 0%, rgb(230, 128, 26) 100%);
  height: 110px;
  margin-top: -110px;
  width: 1920px;
}

.e0p4ocip {
  align-content: start;
}

.e02yigd3 {
  align-content: start;
}

.e0km208c {
  align-content: start;
  height: 934px;
  width: 398px;
}

.e0psk0ih {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 67px;
  margin-top: 177px;
  width: 331px;
  border-radius: 42px;
}

.e050p9d0 {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 36px;
  margin-top: 85px;
  width: 260px;
}

.e0g0o0a6 {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 23px;
  text-align: center;
  width: 331px;
}

.e0kdl1hu {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  text-align: center;
  width: 331px;
}

.e0go3q7d {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 67px;
  margin-top: -245px;
  width: 331px;
  border-radius: 42px;
}

.e0jb0mtc {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 103px;
  margin-top: -160px;
  width: 260px;
}

.e06gtb5v {
  align-content: start;
}

.e0ef09ig {
  align-content: start;
}

.e01zexyp {
  align-content: start;
}

.e0z9b3hk {
  align-content: start;
}

.e0fhrwwo {
  align-content: start;
}

.e0hkb1ah {
  align-content: start;
}

.e0uj15ii {
  align-content: start;
  height: 934px;
  width: 796px;
}

.e0pwtm40 {
  align-content: start;
  font-size: 74px;
  font-weight: 700;
  margin-left: 33px;
  margin-top: 25px;
  text-align: center;
  width: 740px;
}

.e0vjlakh {
  grid-auto-flow: column;
  height: 441px;
  justify-content: start;
  width: 796px;
}

.e0rwyk4r {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 67px;
  margin-top: 63px;
  width: 331px;
  border-radius: 42px;
}

.e0ah5fho {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 36px;
  margin-top: 85px;
  width: 260px;
}

.e0fj70qu {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 67px;
  margin-top: 63px;
  width: 331px;
  border-radius: 42px;
}

.e044x55a {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 36px;
  margin-top: 85px;
  width: 260px;
}

.e0qio3ma {
  grid-auto-flow: column;
  height: 94px;
  justify-content: start;
  width: 796px;
}

.e08ci5s1 {
  align-content: start;
  height: 94px;
  text-align: center;
  width: 398px;
}

.e0ahpmnk {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 23px;
  width: 331px;
}

.e08csabx {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}

.e09j04n0 {
  align-content: start;
  height: 94px;
  text-align: center;
  width: 398px;
}

.e0fgb0te {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 23px;
  width: 331px;
}

.e0xeychq {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}

.e0ph2u3u {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 67px;
  margin-top: -245px;
  width: 331px;
  border-radius: 42px;
}

.e0ezxfqb {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 103px;
  margin-top: -160px;
  width: 260px;
}

.e0ogg9om {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 378px;
  margin-left: 465px;
  margin-top: -245px;
  width: 331px;
  border-radius: 42px;
}

.e0tb2gwx {
  align-content: start;
  filter: opacity(30%);
  height: 209px;
  margin-left: 501px;
  margin-top: -160px;
  width: 260px;
}

.e00yxgpo {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 67px;
  margin-left: 690px;
  margin-top: -88px;
  width: 163px;
  border-radius: 56px;
}

.e04tlo0g {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 22px;
  font-weight: 700;
  margin-left: 740px;
  margin-top: -75px;
  width: 44px;
}

.e08xh3fd {
  align-content: start;
  background-image: linear-gradient(rgb(232, 232, 232) 0%, rgb(232, 232, 232) 100%);
  height: 396px;
  margin-left: 173px;
  margin-top: 92px;
  width: 24px;
}

.e0g2mrvc {
  grid-auto-flow: column;
  height: 227px;
  justify-content: start;
}

.e0cj533t {
  align-content: start;
  height: 227px;
  text-align: center;
  width: 529px;
}

.e02vpapa {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 198px;
  margin-top: 156px;
  width: 331px;
}

.e0nfvto7 {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 198px;
  margin-top: -1px;
  width: 331px;
}

.e0rjrlvu {
  align-content: start;
  height: 227px;
  text-align: center;
  width: 398px;
}

.e0ujfi7f {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 156px;
  width: 331px;
}

.e0xloyii {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}

.e0pg3cbj {
  align-content: start;
  height: 227px;
  text-align: center;
  width: 398px;
}

.e08vlpi1 {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 156px;
  width: 331px;
}

.e0guiu0m {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}

.e0f1h9e4 {
  align-content: start;
  height: 227px;
  text-align: center;
  width: 398px;
}

.e0x7k6nu {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: 156px;
  width: 331px;
}

.e0r8ghe9 {
  align-content: start;
  font-size: 24px;
  font-weight: 500;
  margin-left: 67px;
  margin-top: -1px;
  width: 331px;
}
