.e0k5f7im {
  align-content: start;
  font-family: Metropolis;
  height: 100%;
}

.e0q7rn4i {
  grid-auto-flow: column;
  height: 117px;
  justify-content: start;
}

.e0bh0l41 {
  align-content: start;
  height: 77px;
  margin-left: 125px;
  margin-top: 32px;
  width: 111px;
}

.e07fnh80 {
  align-content: start;
}

.e0690gei {
  align-content: start;
  height: 117px;
  width: 1444px;
}

.e01hk49j {
  align-content: start;
  margin-left: 1060px;
  margin-top: 42px;
}

.e0eiq488 {
  align-content: start;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  width: 384px;
}

.e03r8j1i {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  margin-left: 315px;
  margin-top: -33px;
  width: 78px;
}

.e0qszqzc {
  height: 37px;
  width: 1444px;
}

.e0t6nt9m {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 92px;
  margin-left: 1319px;
  margin-top: -92px;
  width: 225px;
  border-radius: 56px;
}

.e0vq5b8r {
  height: 117px;
  width: 100px;
}

.e07b2j4d {
  align-content: start;
  background-image: linear-gradient(rgb(246, 246, 246) 0%, rgb(246, 246, 246) 100%);
  height: 934px;
  margin-top: 29px;
  width: 1920px;
}

.e0wl5pgk {
  grid-auto-flow: column;
  height: 708px;
  justify-content: start;
  width: 1920px;
}

.e09ziy8m {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  height: 628px;
  margin-left: 125px;
  margin-top: 80px;
  width: 550px;
  border-radius: 42px;
}

.e0kywahc {
  align-content: start;
  filter: opacity(30%);
  height: 346px;
  margin-left: 60px;
  margin-top: 141px;
  width: 431px;
}

.e0w5ah2z {
  align-content: start;
  height: 708px;
  width: 1108px;
}

.e01nkmzk {
  align-content: start;
  font-size: 74px;
  font-weight: 700;
  margin-left: 5px;
  text-align: center;
  width: 666px;
}

.e0n9xvfc {
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  height: 82px;
  margin-left: 167px;
  margin-top: 4px;
  text-align: center;
  width: 342px;
}

.e03ska8a {
  align-content: start;
  font-size: 56px;
  font-weight: 700;
  margin-left: 174px;
  margin-top: 2px;
  text-align: center;
  width: 364px;
}

.e0f4esn0 {
  align-content: start;
  font-size: 42px;
  font-weight: 500;
  height: 71px;
  margin-left: 153px;
  text-align: center;
  width: 420px;
}

.e0xw76hh {
  align-content: start;
  font-size: 42px;
  font-weight: 500;
  height: 69px;
  margin-left: 83px;
  text-align: center;
  width: 609px;
}

.e0uro7ls {
  align-content: start;
  font-size: 42px;
  font-weight: 500;
  height: 98px;
  text-align: center;
  width: 378px;
}

.e0qbpntw {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 92px;
  width: 342px;
  border-radius: 56px;
}

.e0f7hk2b {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 26px;
  font-weight: 700;
  margin-left: 74px;
  margin-top: 21px;
  width: 143px;
}

.e0tztev0 {
  align-content: start;
  background-image: linear-gradient(rgb(230, 128, 26) 0%, rgb(230, 128, 26) 100%);
  height: 110px;
  margin-top: 116px;
  width: 1920px;
}

.e0zxvtup {
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  height: 67px;
  margin-left: 1617px;
  margin-top: 22px;
  width: 163px;
  border-radius: 56px;
}

.e0t7z06n {
  align-content: start;
  color: rgb(246, 246, 246);
  font-size: 22px;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 13px;
  width: 44px;
}
