.e0r14pc1 {
  height: 100%;
  align-content: start;
  font-family: Metropolis;
}

.e00vy4y4 {
  height: 117px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0xu1qe9 {
  width: 111px;
  height: 77px;
  margin-top: 32px;
  margin-left: 125px;
  align-content: start;
}

.e0p7oywv {
  width: NaNpx;
  height: NaNpx;
  align-content: start;
}

.e0l06w66 {
  width: 1444px;
  height: 117px;
  align-content: start;
}

.e0jqid0h {
  width: NaNpx;
  height: NaNpx;
  margin-top: 42px;
  margin-left: 1060px;
  align-content: start;
}

.e0yjp5l0 {
  width: 384px;
  align-content: start;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.e04z9y2o {
  width: 78px;
  margin-top: -33px;
  margin-left: 315px;
  align-content: start;
  font-size: 26px;
  font-weight: 700;
  color: rgb(246, 246, 246);
}

.e09ezcww {
  width: 1444px;
  height: 37px;
}

.e0mjsvzh {
  width: 225px;
  height: 92px;
  margin-top: -92px;
  margin-left: 1319px;
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  border-radius: 56px;
}

.e0znfile {
  width: 100px;
  height: 117px;
}

.e0kma8am {
  width: 1920px;
  height: 934px;
  margin-top: 29px;
  align-content: start;
  background-image: linear-gradient(rgb(246, 246, 246) 0%, rgb(246, 246, 246) 100%);
  background-blend-mode: auto;
}

.e0rzl0g9 {
  width: 1920px;
  height: 708px;
  grid-auto-flow: column;
  justify-content: start;
}

.e0varl4x {
  width: 550px;
  height: 628px;
  margin-top: 80px;
  margin-left: 125px;
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 13px 0px;
  border-radius: 42px;
}

.e04z5zee {
  width: 431px;
  height: 346px;
  margin-top: 141px;
  margin-left: 60px;
  align-content: start;
  filter: opacity(30%);
}

.e0im4j7i {
  width: 1108px;
  height: 708px;
  align-content: start;
}

.e0flp13c {
  width: 666px;
  margin-top: 50px;
  margin-left: 442px;
  align-content: start;
  font-size: 74px;
  font-weight: 700;
  text-align: center;
}

.e0uhaol1 {
  width: 342px;
  margin-top: 14px;
  margin-left: 285px;
  align-content: start;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.e037f8hk {
  width: 364px;
  margin-top: 47px;
  margin-left: 299px;
  align-content: start;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
}

.e0274b5y {
  width: 420px;
  margin-top: 7px;
  margin-left: 318px;
  align-content: start;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
}

.e05j8jtz {
  width: 609px;
  margin-top: 5px;
  margin-left: 441px;
  align-content: start;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
}

.e090npql {
  width: 378px;
  margin-top: 5px;
  margin-left: 305px;
  align-content: start;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
}

.e0mku2nz {
  width: 342px;
  height: 92px;
  margin-top: 88px;
  margin-left: 114px;
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  border-radius: 56px;
}

.e0b49gyz {
  width: 143px;
  margin-top: 21px;
  margin-left: 63px;
  align-content: start;
  font-size: 26px;
  font-weight: 700;
  color: rgb(246, 246, 246);
}

.e0hh0haz {
  width: 1920px;
  height: 110px;
  margin-top: 116px;
  align-content: start;
  background-image: linear-gradient(rgb(230, 128, 26) 0%, rgb(230, 128, 26) 100%);
  background-blend-mode: auto;
}

.e0h4fd4t {
  width: 163px;
  height: 67px;
  margin-top: 22px;
  margin-left: 1617px;
  align-content: start;
  background-image: linear-gradient(rgb(24, 29, 93) 0%, rgb(24, 29, 93) 100%);
  background-blend-mode: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 13px 0px;
  border-radius: 56px;
}

.e0ydg4o2 {
  width: 44px;
  margin-top: 13px;
  margin-left: 50px;
  align-content: start;
  font-size: 22px;
  font-weight: 700;
  color: rgb(246, 246, 246);
}
